
@media (max-width: 575.98px) {

}


@media (min-width: 576px) and (max-width: 767.98px) {

}


@media (min-width: 768px) and (max-width: 991.98px) {
	
	header {
		height: 560px;
	}
	
	.header-mainText h1 {
		margin-top: 60px;
		font-size: 48px;
	}
	
	.header-mainText p {
		margin: 35px 0;
		font-size: 20px;
	}
	
	.our-services h2 {
		margin-top: 30px;
		padding-bottom: 35px;
	}
	
	.our-services_item1 {
		padding-top: 35px;
	}

	.our-services_item1 img {
		display: block;
		margin: 0 auto 50px auto;
	}

	.our-services_item1 h3 {
		text-align: center;
		margin: 24px;
	}

	.our-services_item1 p {
		text-align: center;
	}

	.services-button_1 {
		margin-bottom: 120px;
	}

	.services-2, .services-3 {
		align-items: flex-start !important;
	}

	.services-2 h3, .services-3 h3{
		margin: 0;
		font-size: 24px;
	}

	.services-3 {
		margin-top: 0px;
		padding: 0;
	}
	
	.services-2 p {
		padding-right: 10px;
	}
	
	.serv-padd {
		padding-left: 20px !important;
	}
	
	.services-button_2, .services-button_3 {
		margin: 0;
	}

	.services-button_2 {
		background-color: #fff;
		color: #2ebaee;
	}

	.lm-text h3 {
		font-size: 36px;
		margin: 0;
	}

	.lm-btn {
		margin: 0;
	}

	.chk-our h2 {
		text-align:  center;
		margin: 50px 0 50px 0;
	}

	.footer {
		background-position: top center;
	}

	.footer-text1 h1 {
		margin: 35px 0 15px 0;
		font-size: 36px;
		text-align: center;
	}
	
	.footer-text1 h3 {
		font-size: 24px;
		text-align: center;
	}

	.footer-text1 p {
	    font-size: 14px;
	    margin-bottom: 15px;
	    text-align: center;
	}

	.social-ico {
		padding: 15px;
		width: 450px;
		margin: 0 auto;
	}

	.footer input[type="text"] {
		margin-top: 30px;
	}

	.footer input[type="text"], .footer input[type="email"], .footer textarea {
		width: 400px;
	}

	.footer textarea {
		height: 100px;
	}

	.footer-navigation ul li {
		margin-right: 12px;
	}

	.footer-navigation ul li a {
	    font-size: 12px;
	}

	footer p {
    	font-size: 12px;
	}

}


@media (min-width: 992px) and (max-width: 1199.98px) {
	.header-navigation ul {
		padding: 0;
	}

	.our-services_item1 img {
		display: block;
		margin: 0 auto 50px auto;
	}

	.our-services_item1 h3 {
		text-align: center;
		margin: 24px;
	}

	.our-services_item1 p {
		text-align: center;
	}


	.services-2, .services-3 {
		align-items: flex-start !important;
	}
	
	.serv-padd {
    	padding-left: 40px !important;
	}

	.lm-text h3 {
		font-size: 56px;
	}

	.chk-our h2 {
		text-align: center;
	}

	.footer-text1 p {
		font-size: 14px;
	}

	.footer-text1 h1 {
		font-size: 46px;
		text-align: center;
	}

	.footer-text1 h3 {
		font-size: 24px;
	}
	
	.social-ico {
		margin-top: 35px;
	}

	.social-ico li {
		margin-right: 10px;
	}

	.footer input[type="text"], .footer input[type="email"], .footer textarea {
		width: 400px;
	}

	.footer {
		height: auto;
	}

	.footer-navigation ul {
		padding: 0;
	}

	.footer-navigation ul li {
		margin-right: 40px;
	}

}


@media (min-width: 1200px) and (max-width: 1409.98px) {
	.our-services_item1 p {
		padding-right: 10px;
	}

	.services-icon-5 {
		background-position: center;
	}

	.chk-our h2 br {
		display: none;
	}

	.chk-our h2 {
		text-align: center;
	}
	
	.footer-text1 h1 {
		font-size: 62px;
		margin-bottom: 60px;
	}

	.footer input[type="text"], .footer input[type="email"], .footer textarea {
		width: 400px;
	}
}